{% extends 'chatapp/_base.html' %}

{% block content %}
  <a href="{% url 'chatapp:log_out' %}">Log out</a>
  <br>
  <h1 id="head">Welcome to this Chat Group</h1>

  <form id="chat-form">
    <input type="text" id="chat-input" placeholder="Enter your message...">
    <button id="chat-button">Send</button>
  </form>

  <div class="chat-log"></div>

  <div class="user_list">
    <ul class="users">
      <h2>Available Users</h2>
    </ul>
  </div>

{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/list/');

    socket.onopen = function () {
      console.log('WebSockets connection created.');
    };

    socket.onclose = function () {
      console.log("Disconnected from socket");
    };

    $('#chat-form').on("submit", function (evt) {
      evt.preventDefault();
      var message_text = $('#chat-input').val();
      console.log(message_text);
      var raw = `{ "command": "send", "message": "${message_text}" }`;
      socket.send(JSON.stringify(raw));

      $('#chat-input').val("");
    })

    socket.onmessage = function (event) {
      var data = JSON.parse(event.data);
      console.log("Got websocket message " + event.data);

      // Decode the JSON
      var data = JSON.parse(event.data);

      // Handle errors
      if (data.error) {
        alert(data.error);
        return;

      }else if(data.is_logged_in) {

        var connect_div = "<li class='user' id='"+data.username+"'>" +
                          "<h3>" + data.username + "</h3>" +
                          "</li>"
        var filter = '#'+data.username;
        var user_filter = $(filter).length;

        if(user_filter>0) {
          return;
        }else {
          $('.users').append(connect_div);
        }

      }else if(!data.is_logged_in && !data.echo_to_client) {
        var filter = "#" + data.username;
        $(`${filter}`).remove();

      }else if(data.echo_to_client) {
        console.log("inside echo_to_client");
        var echo_message =  "<div class='message'>" +
                            "<span class='username'>" + "<strong>" + data.username + "</strong>" + ": " + "</span>" +
                            "<span class='body'>" + data.message + "</span>" +
                            "</div>";
        $('.chat-log').append(echo_message);
      }else {
        console.log("not entered any if/else");
      }

    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}