{% extends 'chatapp/_base.html' %}

{% block content %}
  <a class="btn btn-outline-danger ml-4" href="{% url 'chatapp:log_out' %}">Log out</a>
  <br>
  
    <div class="container-fluid">
      <h1 id="head" class="display-4" style="color: rgba(30, 161, 194, 0.945);">Welcome to this Chat Group</h1>

      <div class="row px-2">
        <form class="col-md-8 d-block ml-0" id="chat-form">
          <div class="input-group">
            <input type="text" class="form-control" id="chat-input" placeholder="Enter your message..." aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <button class="btn btn-outline-info my-2 ml-0 d-block" id="chat-button">Send</button>
        </form>    
      </div>
    
      <div class="row px-4">
        <div class="container-fluid col-md-8 chat-log px-3 border-top-0 border border-dark" style="background-color: rgba(190, 29, 96, 0.219);">
          <h3 class="display-4 border-primary border-bottom">Chat Log</h3>
        </div>
  
        <div class="col-md-4 user_list px-3"  style="background-color: rgba(6, 28, 41, 0.301);">
          <ul class="users">
            <p class="lead">Available Users</p>
          </ul>
        </div>
  
      </div>
    </div>
    
  
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/list/');

    socket.onopen = function () {
      console.log('WebSockets connection created.');
    };

    socket.onclose = function () {
      console.log("Disconnected from socket");
    };

    $('#chat-form').on("submit", function (evt) {
      evt.preventDefault();
      var message_text = $('#chat-input').val();
      console.log(message_text);
      var raw = `{ "command": "send", "message": "${message_text}" }`;
      socket.send(JSON.stringify(raw));

      $('#chat-input').val("");
    })

    socket.onmessage = function (event) {
      var data = JSON.parse(event.data);
      console.log("Got websocket message " + event.data);

      // Decode the JSON
      var data = JSON.parse(event.data);

      // Handle errors
      if (data.error) {
        alert(data.error);
        return;

      }else if(data.is_logged_in) {

        var connect_div = "<li class='user' id='"+data.username+"'>" +
                          "<h3>" + data.username + "</h3>" +
                          "</li>"
        var filter = '#'+data.username;
        var user_filter = $(filter).length;

        if(user_filter>0) {
          return;
        }else {
          $('.users').append(connect_div);
        }

      }else if(!data.is_logged_in && !data.echo_to_client) {
        var filter = "#" + data.username;
        $(`${filter}`).remove();

      }else if(data.echo_to_client) {
        console.log("inside echo_to_client");
        var echo_message =  "<div class='message'>" +
                            "<span class='username'>" + "<strong>" + data.username + "</strong>" + ": " + "</span>" +
                            "<span class='body'>" + data.message + "</span>" +
                            "</div>";
        $('.chat-log').append(echo_message);
      }else {
        console.log("not entered any if/else");
      }

    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}